<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Arxiv</title>
</head>
<body>
  <h2>Arxiv</h2>

  <div style="margin-bottom:12px;">
    <a href="{% url 'arxiv_create' %}">+ Добавить запись</a>
  </div>

  <form method="get" style="margin-bottom:12px;">
    <input name="q" value="{{ q }}" placeholder="Поиск: reg_num, заказчик, объект..." />
    <button type="submit">Найти</button>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Ro'yxatga olingan raqami</th>
        <th>Sana</th>
        <th>Buyurtmachi</th>
        <th>Dastur nomi</th>
        <th>Viloyat</th>
        <th>Tuman</th>
        <th>Obyekt turi</th>
        <th>Obyekt nomi</th>
        <th>Ish turi</th>
        <th>Bayonnomani imzolagan shaxs</th>
        <th>Filial rahbari</th>
        <th>Sinov o'tkazgan mutaxassis</th>
        <th>Muvofiq</th>
        <th>Kitob raqami</th>
        <th>PDF</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for x in items %}
        <tr>
          <td>{{ x.reg_num }}</td>
          <td>{{ x.reg_date }}</td>
          <td>{{ x.customer }}</td>
          <td> {{ x.prog }} </td>
          <td> {{ x.region }} </td>
          <td> {{ x.district }} </td>
          <td>{{ x.object_type }}</td>
          <td>{{ x.object_name }}</td>
          <td>{{ x.work_type }}</td>
          <td>{{ x.signed_person }}</td>
          <td>{{ x.branch_manager }}</td>
          <td>{{ x.specialist }}</td>
          <td>{{ x.is_mutch }}</td>
          <td>{{ x.book_number }}</td>
          
          <td>
            {% if x.pdf_id %}
              <!-- Просмотр -->
              <a href="{% url 'pdf_view' x.pdf_id %}" title="Просмотреть" target="_blank">
                👁
              </a>

              <!-- Скачать -->
              <a href="{% url 'pdf_download' x.pdf_id %}" title="Скачать">
                ⬇
              </a>

              <!-- Удалить -->
              <a href="{% url 'pdf_delete' x.id %}"
                title="Удалить"
                onclick="return confirm('Удалить PDF файл?');">
                🗑
              </a>
            {% else %}
              —
            {% endif %}
          </td>          
          <td>
            <a href="{% url 'arxiv_edit' x.id %}" title="Редактировать">✏️</a>
            <form method="post"
                  action="{% url 'arxiv_delete' x.id %}"
                  style="display:inline;"
                  onsubmit="return confirm('Удалить запись {{ x.reg_num }}?');">
              {% csrf_token %}
              <button type="submit" title="Удалить" style="border:none;background:none;cursor:pointer;">
                🗑
              </button>
            </form>
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="5">Пока записей нет</td></tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
